     <form  [formGroup]="loginForm">
      <div class="mb-10 col-4" >
        <label class="form-label">Usuario</label>
        <input matInput formControlName="Usuario" type="text" class="form-control" placeholder="Usuario" ngModel required>
      </div>
      <br>
      <div class="mb-10 col-4">
        <label class="form-label">Contraseña</label>
        <input matInput formControlName="Contrasena" type="password" class="form-control" placeholder="Contraseña" ngModel required>
      </div>
      <br>
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-warning" (click)="login()"> Iniciar sesion</button>
     </form>
     

    
  
  